<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgadetsky.orderservice.repository.mapper.OrderMapper">
    <resultMap id="orderItemResultMap" type="com.lgadetsky.orderservice.model.OrderItem">
        <result property="id" column="ID"/>
        <result property="orderId" column="ORDER_ID"/>
        <result property="itemName" column="ITEM_NAME"/>
    </resultMap>
    
    <resultMap id="orderResultMap" type="com.lgadetsky.orderservice.model.Order">
        <result property="id" column="ID"/>
        <result property="orderStatusId" column="ORDER_STATUS_ID"/>
        <result property="customerName" column="CUSTOMER_NAME"/>
        <result property="customerPhone" column="CUSTOMER_PHONE"/>
        <result property="customerComment" column="CUSTOMER_COMMENT"/>
        <result property="patientId" column="PATIENT_ID"/>
        <!-- <collection property="orderItems" resultMap="orderItemResultMap" columnPrefix="oi_"/> -->
    </resultMap>

    <insert id="insert"
            parameterType="com.lgadetsky.orderservice.model.Order"
            useGeneratedKeys="true">
          <selectKey keyProperty="id"
          			 resultType ="int"
          			 order="BEFORE">
          		select nextval('order_seq')
          </selectKey>
        insert into "order" (ID, ORDER_STATUS_ID, CUSTOMER_NAME, CUSTOMER_PHONE, CUSTOMER_COMMENT, PATIENT_ID)
        values (#{id}, #{orderStatusId}, #{customerName}, #{customerPhone}, #{customerComment},  #{patientId});
    </insert>
    
    <select id="findById"
    	    parameterType="int"
    	    resultMap="orderResultMap">
    	select * from "order" o
    		where o.id = #{id};
    </select>
	
	<!-- <select id="findById"
			parameterType="int"
			resultMap="orderResultMap">
			
		select
			o.id,
			o.order_status_id,
			o.patient_id,
			o.customer_name,
			o.customer_phone,
			o.customer_comment,
			i.id as oi_id,
			i.order_id as oi_order_id,
			i.item_name as oi_item_name
		from "order" o
		join order_item i on o.id = i.order_id
		where o.id = #{id}
	</select>  -->

    <update id="update"
            parameterType="com.lgadetsky.orderservice.model.Order">
        update "order" set
                        order_status_id = #{orderStatusId},
                        customer_name = #{customerName},
                        customer_phone = #{customerPhone},
                        customer_comment = #{customerComment}
                       where id = #{id};
    </update>

    <delete id="deleteById"
            parameterType="int">
        delete from "order" where id = #{id};
    </delete>
</mapper>
