<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgadetsky.orderservice.repository.mapper.OrderItemMapper">
    
    <insert id="insertOrderItems"
            parameterType="com.lgadetsky.orderservice.model.OrderItem"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO order_item (id, order_id, item_name) 
        VALUES 
        <foreach collection="items" item="o" separator=", ">
            (NEXTVAL('order_item_seq'), #{o.orderId}, #{o.itemName})
        </foreach>
    </insert>
    
    <select id="findItemsByOrderId"
            parameterType="int"
            resultType="com.lgadetsky.orderservice.model.OrderItem">
        SELECT * from order_item where  order_id = #{id} order by id;
    </select>
    
    <update id="update"
    		parameterType="com.lgadetsky.orderservice.model.OrderItem">
    		
    		<foreach collection="items" item="item" separator=";">
    			update order_item set item_name=#{item.itemName} 
    			where id = #{item.id};
    		</foreach>
    </update>

    <delete id="deleteByOrderId"
            parameterType="int">
        delete from order_item where order_id = #{id};
    </delete>
</mapper>